@import "../../sass/variable.scss";

.authBox {
    background-color:rgba(0, 0, 0, 0.6);
    color:white;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 30px;
    width: 425px;
    font-family: $text-font;
    text-shadow: 0px 0 darkslategrey, 0 1px darkslategrey, 0px 0 darkslategrey, 0 0px darkslategrey;

    .loginTitle {
        text-align: center;
        color: white;
        text-shadow: 0px 0 black, 0 1px black, 0px 0 black, 0 0px black;
    }

    .signupLink {
        margin-top: 15px;
        text-align: center;
    }

    .title-font {
        font-family: $title-font;
        
    }

    #loginBtn {
        // background: $primary-color;
        font-family: $text-font;
        color: $light-text;
        border: none;
        font-size: 1.2em;
    }
}

