
@import "./sass/variable.scss";

html, body {
    background: $background-color;
    height: 100%;
    margin: 0;
    position: relative;
}

.notFound {
    margin-top: 75px;
    text-align: center;

    img {
        
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}