
// page colors 
$primary-color: #424242;
$background-color: #F5F5F5;


// text colors
$dark-text: rgb(247, 252, 252);
$light-text: #F5F5F5;

// fonts
$text-font: 'Roboto', sans-serif;
$title-font: 'MedievalSharp', cursive;

$footer-height: 50px;
